.nav-6 a{
    color: #FF5733 !important;
}

section ul {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none; 
}

section ul li{
    color: #7B68EE;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.4rem;
}

.li-1{
    color: #333;
}

.li-2{
    color: #0077B5;
}

.fa-github-square{
    font-size: 4rem;
    color: #333;
}

.fa-linkedin{
    font-size: 4rem;
    color: #0077B5;
}