.nav-1 a{
    color: #FF5733 !important;
}

article{
    width: 50%;
    text-align: center;
    margin: 50px auto 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #7B68EE;
    position: relative;
} 

.me-img{
    position: absolute;
    max-width: 150px;
    max-height: 180px;
    top: 0;
    left: -150px;
    border-radius: 20%;
}

article h2{
    padding-bottom: 10px;
    color: #00008B;
}

article h4 span{
    color: #FF5733;
}

article h4{
    position: relative;
}

.quote-img{
    height: 160%;
    width: 18%;
    position: absolute;
    right: -130px;
    top: -80px;
}

section{
    text-align: center;
    overflow: hidden;
    margin-top: 95px;
}

section h3{
    color: #00008B;
    font-size: 2.6rem;
    padding: 0 0 30px;
}

#slider {
    width: 500%;
    animation: slider 12s infinite ease-out;
}

.slide {
    width: 20%;
    display: inline-block;
    margin: 0px -2px;
}

.slide img {
    width: 60%;
    height: 400px;
    border-radius: 5%;
}


@keyframes slider {
    0%,
    15% {
        transform: translateX(0%);
    }
    20%,
    35% {
        transform: translateX(-20%);
    }
    40%,
    55% {
        transform: translateX(-40%);
    }
    60%,
    75% {
        transform: translateX(-60%);
    }
    80%,
    95% {
        transform: translateX(-80%);
    }
}